:root {
  --principal-color: #0288d1;
  --secondary-color: #b3e5fc;
  --text-color: #212121;
  --secondary-text-color: #757575;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Itim", sans-serif;
  color: var(--text-color);
}
header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  border-bottom: 1rem solid var(--principal-color);
  padding: 1rem;
}

footer {
  grid-area: footer;
  text-align: center;
  height: 10vh;
  background-color: rgb(79, 78, 78);
  color: #fff;
}
