:root {
  --principal-color: #025a89;
  --secondary-color: #b3e5fc;
  --text-color: #212121;
  --secondary-text-color: #434242;
  --white-color:#ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Itim", sans-serif;
  color: var(--text-color);
}
header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  border-bottom: 1rem solid var(--principal-color);
  padding: 1rem;
}
.responsive-image {
  width: 100vw;
  height: auto;
  border-bottom:0.5rem solid var(--secondary-color)
}
.dataContainer {
  color: var(--text-color);
  max-width: 300px;
  margin: 0 auto;
}
.dataContainer h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.informationList {
  list-style: none;
  padding: 0;
  text-align: center;
}
.informationList li {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.informationList li span {
  font-weight:100;
  color: var(--secondary-text-color);
}
.weatherContainer{
  max-width: 300px;
  margin: 2rem auto;

}
.weatherContainer h2{
  text-align: center;
}

.weatherList{
  list-style: none;
  padding: 0;
  text-align: center;
}
.weatherList li span{
  font-weight: normal;
  color: var(--secondary-text-color);
}

footer {
  grid-area: footer;
  text-align: center;
  height: 10vh;
  background-color: var(--principal-color);
  color: var(--white-color);
}


@media screen and (min-width: 769px){
  .divider{
    display: none;
  }
  .dataContainer ,.weatherContainer{
    position: absolute; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
    margin: 0; 
    background-color: var(--white-color);;
    border-radius: 1rem;
  }
  .dataContainer{
    top: 35%; 
    left: 17%; 
  }

  .weatherContainer{
    top:56%;
    left: 85%;
  }
  .dataContainer ul, .weatherContainer ul{
    padding: 10px;
  }
  .dataContainer h2, .weatherContainer h2{
    background-color: var(--principal-color);
    color: var(--white-color);
    border-radius: 1rem 1rem 5px 5px;
  }

  .responsive-image {
    position: relative; 
    z-index: 1; 
  }
}

@media screen and (min-width: 1000px ) {
  .weatherContainer{
    top:73%;
    left: 85%;
  }
  .weatherIcon{
    display: none;
  }
  .weatherContainer h2::after {
    content: "⛅"; 
    display: block;
    margin: 0 auto;
    width: 50px; 
    height: auto;
    margin-top: 10px; 
  }
}