* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
}
nav {
  margin: 1rem auto;
}
#menu {
  font-size: 1.5rem;
  border: 0;
  background-color: blueviolet;
  position: absolute;
  top: 1rem;
  padding: 0.3rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}
#menu.open::before {
  content: "X";
}
nav {
  background-color: blueviolet;
  width: 100vw;
}

nav ul {
  display: none;
}
nav ul li {
  list-style: none;
  margin: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px;
}

nav ul li a:hover {
  color: #000;
}

.open ul {
  display: block;
}

.templesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem;
  place-items: center;
}

footer {
  grid-area: footer;
  text-align: center;
  height: 10vh;
  background-color: rgb(79, 78, 78);
  color: #fff;
}
